
body{
    background: #EFEFEF;
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-size: 1500px;
    background-position:top;
    background-position:0px;
   
    
    
}
#map { height: 650px;
    width: 900px;
    left: 500px;
    top: -500px;}

body2{

    display : flex;
    justify-content: center;
    background:#EFEFEF;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-size: 1300px;

    
    
}

*{
    
    box-sizing: border-box;
    font-family: 'Martel', serif;
}



form{ /* Cuadro blanco de LOGIN */
    width: 400px;
    border: none;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    position: center;
    box-shadow: 3px 3px 12px #808080 ;
    
    
     
}


form2{ /* Cuadro blanco de HOME */
    width: 1300px;
    height: 650px;
    font-size: 20px;
    background:#EFEFEF;
    border-radius: 15px;
    padding: 30px;
    position: absolute;
    top: 70px;
}

.container{ /*gráfica*/
     width: 800px;
     border: none;
     padding: 30px;
     background:#EFEFEF ;
     border-radius: 15px;
     position: center;
     position: relative;
     right: 200px;
     top: -30px;
   
 }
 
 .container2{ /*mapa*/
    width: 800px;
    border: none;
    padding: 30px;
    background:#EFEFEF ;
    border-radius: 15px;
    position: center;
    position: relative;
    left: 200px;
    top: -30px;
  
}


header{ /* Header */
    width: 1500px;
    height: 70px;
    border: none;
    padding: 15px;
    background: white;
    border-radius: 15px;
     position: absolute;
    top: 0px;
   
}



h2{/* Log in */
    text-align: center;
    font-family:serif;
    font-weight: 1;
    font-size: 35px;   
}

input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

label{
    color:#888;
    font-size: 18px;
    padding: 10px;
    
}

button{
    float: right;
    background: #02894B;
    padding: 10px 20px;
    color:#fff;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 10px;
    border:none;
    
}

button:hover{
    opacity: .7;
}

.error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius:5px;
    
}

h1{  /* Hello Usuario */ 
    
   font-family:'Nunito', sans-serif;
    font-weight: lighter;
   color: #44444C;
   text-align:left;
   
}

a{
    font-family: 'Nunito', sans-serif;
    background: #fff;
    padding: 8px 15px;
    color: #8C8C8C;
    font-size:20px;
    border-radius: 5px;
    border:none;
    text-decoration: none;
    position: absolute;
    top: 15px;
    left: 1290px;
    
}
a:hover{
    opacity: .7;
}

#reloj{
    color:#888;
    font-size: 25px;;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    position: absolute;
    border-radius: 3px;
    top: -5px;
    left: 100px;
    
}


#date{
    color:#888;
    font-size: 25px;;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    position: absolute;
    border-radius: 3px;
    top: -5px;
    left: 100px;
    
}












